body{
    background-color: aqua;
      background-image: url(download.jfif);
      
}

div{
    height: 280px;
    width: 210px;
    background-color: orange;
 margin-left: 850px;
 margin-top: 150px;
 border: 2px solid;
 border-color: black;
}
form{
    margin-left: 20px;
}
h1{
    color: red;
}